DirectoryIndex index.html

Header set Content-Security-Policy: "default-src 'self'; script-src 'report-sample' 'unsafe-inline' 'self' *.google-analytics.com *.googletagmanager.com; style-src 'report-sample' 'self' 'unsafe-inline' https://fonts.googleapis.com; object-src 'none'; base-uri 'self'; connect-src 'self' *.google-analytics.com; font-src 'self' data: https://fonts.gstatic.com; frame-src 'none'; frame-ancestors 'none'; img-src 'self' https://www.google-analytics.com; manifest-src 'self'; media-src 'self'; worker-src 'none'; form-action 'none';"


<IfModule mod_rewrite.c>
	RewriteEngine On

	#Matching API
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteCond "%{REQUEST_URI}" "^/visibilitycheck"
	RewriteRule ^(.*)$ api.php [QSA,L]

    #Matching APP
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule . /index.html [L]
</IfModule>
<IfModule mod_php5.c>
	php_flag display_errors On
	php_flag magic_quotes_gpc Off
</IfModule>
